[submodule "libs/lerobot"]
    path = libs/lerobot
    url = https://gitcode.com/openharmony-robot/lerobot.git
    ignore = dirty
[submodule "src/pymoveit2"]
	path = src/pymoveit2
	url = https://gitcode.com/ib_robot/pymoveit2.git
    branch = main
    ignore = dirty
[submodule "src/rosclaw"]
	path = src/rosclaw
	url = https://gitcode.com/ib_robot/rosclaw.git
[submodule "src/omni_wheel_controller"]
	path = src/omni_wheel_controller
	url = https://gitcode.com/ib_robot/omni_wheel_controller.git
	branch = main
	ignore = dirty
[submodule "libs/Livox-SDK2"]
	path = libs/Livox-SDK2
	url = https://atomgit.com/ib_robot/Livox-SDK2.git
	ignore = dirty
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://atomgit.com/ib_robot/livox_ros_driver2.git
	ignore = dirty
[submodule "src/fast_lio"]
	path = src/fast_lio
	url = https://atomgit.com/openeuler-embedded-ros2-humble/FAST_LIO.git
	branch = ROS2
	ignore = dirty
[submodule "src/fast_calib"]
	path = src/fast_calib
	url = https://atomgit.com/ib_robot/FAST-Calib_Ros2.git
	ignore = dirty
