[submodule "libs/lerobot"]
    path = libs/lerobot
    url = https://gitcode.com/openharmony-robot/lerobot.git
    ignore = dirty
[submodule "src/pymoveit2"]
	path = src/pymoveit2
	url = https://gitcode.com/ib_robot/pymoveit2.git
    branch = main
    ignore = dirty
[submodule "src/rosclaw"]
	path = src/rosclaw
	url = https://gitcode.com/ib_robot/rosclaw.git
[submodule "src/omni_wheel_controller"]
	path = src/omni_wheel_controller
	url = https://gitcode.com/ib_robot/omni_wheel_controller.git
	branch = main
	ignore = dirty
